
$icon_size: 16px;
$text_size: 14px;

* {
  font-family: 'Ubuntu Nerd Font', 'Ubuntu', sans-serif;
}
.main-container {
  min-width: 1450px;
}

.bar {
   background-image: -gtk-gradient(
    linear,
    left top, right top,
    from(rgba(0,0,0,.4)),
    to(rgba(122, 122, 122, 0.1))
  );
}


.workspace-entry {
  padding: 0px 0px; 
  margin: 0px;

  color: #a89984;  // Default color for inactive workspaces

  button {
    margin: 0px 0px;
    padding: 0px 4px;
    border-radius: 0px;
  }
}

.active {
    font-size: $text_size;
    background-color:#4BA3FF ;  
    transition: 0.3s ease-in-out;
    color: #fbf1c7;  // Light text color for contrast
    &:hover { background-color: darken(#4BA3FF, 20%); }
}

.occupied {
  font-size: $text_size;
  color:lighten(#2D2D3F,60%);
  background-color: darken(#C79CFF,20%);  
  &:hover { background-color: darken(#C79CFF,40%); }
}
.empty{
  font-size: $text_size;
  color: #6A7A8C;
  &:hover { color: darken(#6A7A8C,20%);}
}

.window-container {
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 0px 10px;
  font-size: $text_size;

  .win-icon {
    padding:0px 10px 0px 0px;
    margin:0px 0px 0px 0px;
  }

  .win-title {
    margin: 0px;
    padding: 0px 0px; 
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px 4px white, 0 0 1em blue, 0 0 0.2em blue;
  }

  .win-info {
    color: #EEEEEE;
    font-weight: bold;
    font-style: italic;
  }
}




.nix {
  padding: 0px 8px;
  margin: 0px ;
background: rgba(0,0,0,0.6);


  button {
    background: none;
    border-radius: 0px;
    padding: 0px 0px;
    margin: 0px;
  }

  .nix-button {
    padding: 0px 0px;
    margin:0px;
  }

  .nix-menu {
    padding: 0px;
    margin: 0px;

    button {
      padding: 0px 10px;
      margin: 0px;
      background: rgba(0,0,0,0.2);
      border: none;
      font-size: $icon_size;
    }
  }
}

.hibernate{
  color: #FF8C00;
  &:hover { color: darken(#FF8C00, 20%); }
}

.poweroff{
  color: #DC143C;
  &:hover { color: darken(#DC143C, 20%); }
}

.reboot{
  color: #0056b3;
  &:hover { color: lighten(#0056b3, 20%); }
}

.status-widgets {
  border-radius: 0px ;
  font-size: $text_size;
  background: rgba(0,0,0,0.6);
  button {
    background: none;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    border-radius: 0px;
  }

  .wifi-data {
    padding: 0px 4px 0px 0px;
    color: #4CAF50;  /* Green for WiFi */
  }

  .wifi-icon {
    font-size:$icon_size;
    padding:0px 2px 0px 2px;
    margin:0px 2px 0px 0px;
    background: #4CAF50;  /* Green for WiFi */
    color: #FFF;  /* Green for WiFi */
    &:hover { background: darken(#4CAF50,10%)}
  }

  .mem-data{
    padding: 0px 10px 0px 0px;
    color: lighten(#008080, 10%);  
  }
  .mem-icon {
    font-size:$icon_size;
    padding: 0px 8px 0px 5px;
    margin: 0px 5px 0px 0px;
    color: #FFF;
    background: lighten(#008080, 10%);  
    &:hover { background: #008080}
  }
  .name{
    padding: 0px 8px 0px 2px;
    color: red;  
    text-shadow: red 1px 0 2px;
  }
  .usr-icon {
    font-size:$icon_size;
    padding: 0px 5px;
    margin: 0px 5px 0px 0px;
    color: #FFF;
    background: red;  
    &:hover {background: darken(red,20%)}
  }

  .battery-data{
    padding: 0px 1px 0px 0px;
    color: #2196F3;  /* Blue for Battery */
  }

  .battery-icon{
    font-size:$icon_size;
    padding: 0px 0px 0px 4px;
    margin: 0px 2px 0px 0px;
    color: #FFF;
    background: #2196F3;  /* Blue for Battery */
    &:hover { background: darken(#2196F3, 20%); }
  }

  .time-date-data{
    padding: 0px 10px 0px 0px;
    color: orange;  /* Amber for Time/Date */
  }

  .time-date-icon{
    font-size:$icon_size;
    padding: 0px 0px 0px 3px;
    margin: 0px 2px 0px 0px;
    color: #FFF;
    background: orange;  /* Amber for Time/Date */
    &:hover { background: darken(orange, 20%); }
  }
}
