$icon_size: 20px;
$text_size: 14px;
$timedate_color: #AA22FF;  
$battery_color: #2196F3;

* {
  font-family: 'Ubuntu Nerd Font', 'Ubuntu', sans-serif;
} .main-container {
  min-width: 1450px;
  min-height: 0px;
}

.bar {
   background-image: -gtk-gradient(
    linear,
    left top, right top,
    from(rgba(0,0,0,.4)),
    to(rgba(122, 122, 122, 0.1))
  );
}


.workspace-entry {
  padding: 0px 0px; 
  margin: 0px;


  button {
    margin: 0px 0px;
    padding: 0px 4px;
    border-radius: 0px;
    outline-width: 0px;
    outline-offset: 0px;
  }
}
  .workspace-int {
    margin: 0px;
    padding: 0px;
    outline-width: 0px;
    outline-offset: 0px;

  }

.active {
    font-size: $text_size;
    background-color:#4BA3FF ;  
    transition: 0.3s ease-in-out;
    color: #fbf1c7;  // Light text color for contrast
    &:hover { background-color: darken(#4BA3FF, 20%); }
}

.occupied {
  font-size: $text_size;
  color:lighten(#2D2D3F,60%);
  background-color: darken(#C79CFF,20%);  
  &:hover { background-color: darken(#C79CFF,40%); }
}
.empty{
  font-size: $text_size;
  color: #6A7A8C;
  &:hover { color: darken(#6A7A8C,20%);}
}


// the button
.window-tab {
  margin: 0px 0px 0px 16px;
  border: 1px solid white;
  box-shadow:
    0 0 2px white,
    0 0 5px white,
    0 0 3px red,
    0 0 5px blue;
  padding: 0px 16px 0px 8px;
  border-radius: 2px;
  background: rgba(0,0,0,.6);
  &:hover {
    background: rgba(50,50,50,.6);
   box-shadow:
    0 0 8px white,
    0 0 10px white,
    0 0 6px red,
    0 0 10px blue;
 }
}

.window-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
  font-size: $text_size;
  min-width: 0px;
  min-height: 0px;
}


.win-icon {
  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: none;
  background-repeat: no-repeat;
  background-size: 21px;
  border-radius: 0px;
  min-width:22px;
}

.win-title {
    margin: 0px;
    background: none;
    padding: 0px 0px; 
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px 4px white, 0 0 1em blue, 0 0 0.2em blue;
    min-width: 0px;
    min-height: 0px;
}


.nix {
  padding: 0px 8px;
  margin: 0px ;
background: rgba(0,0,0,0.6);


  button {
    background: none;
    border-radius: 0px;
    padding: 0px 0px;
    margin: 0px;
  }

  .nix-icon{
    padding: 0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    background: none;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 0px;
    min-width:24px;
    min-height:20px;

  }

  .nix-menu {
    padding: 0px;
    margin: 0px;

    button {
      padding: 0px 10px;
      margin: 0px;
      background: rgba(0,0,0,0.2);
      border: none;
      font-size: $icon_size;
    }
  }
}

.hibernate{
  color: #FF8C00;
  &:hover { color: darken(#FF8C00, 20%); }
}

.poweroff{
  color: #DC143C;
  &:hover { color: darken(#DC143C, 20%); }
}

.reboot{
  color: #0056b3;
  &:hover { color: lighten(#0056b3, 20%); }
}

.status-widgets {
  border-radius: 0px ;
  font-size: $text_size;
  button {
    background: none;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    border-radius: 0px;
  }

  .wifi-data {
    padding: 0px 4px 0px 0px;
    color: #4CAF50;  /* Green for WiFi */
    background: rgba(0,0,0,0.6);
  }

  .wifi-icon {
    font-size:$icon_size;
    padding:0px 2px;
    margin:0px 0px 0px 0px;
    background: #4CAF50;  /* Green for WiFi */
    color: #FFF;  /* Green for WiFi */
    &:hover { background: darken(#4CAF50,10%)}
  }

  .mem-data{
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 3px;
    color: lighten(#008080, 10%);  
    background: rgba(0,0,0,0.6);
  }
  .mem-icon {
    font-size:$icon_size;
    padding: 0px 8px 0px 5px;
    margin: 0px 0px 0px 0px;
    color: #FFF;
    background: lighten(#008080, 10%);  
    &:hover { background: #008080}
  }

  .battery-data{
    padding: 0px 0px 0px 0px;
    color: #2196F3;  /* Blue for Battery */
    background: rgba(0,0,0,0.6);
  }

  .battery-icon{
    font-size:$icon_size;
    padding: 0px 0px 0px 4px;
    margin: 0px 0px 0px 0px;
    color: #FFF;
    background: $battery_color;  /* Blue for Battery */
    &:hover { background: darken(#2196F3, 20%); }
  }

  .time-date-data{
    margin: 0px 5px 0px 0px;
    padding: 0px 12px 0 12px;
    border-left: 2px solid white;
    font-weight: bold;
    font-size:10px;
    color: white;  
    background: rgba(0,0,0,0.6);
  
    &:hover { text-shadow: 1px 1px 4px white, 0 0 1em blue, 0 0 0.2em blue; }

  }
  
  .reveal-all-button{
    font-size: $icon_size;
    background: None;
    border-right: 2px ridge white;
    color: white;  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    padding: 0px 8px;

    &:hover { 
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      color: rgba(255, 255, 255, 0.9);
    }
  }

}
